<div class="row text-center" data-ng-hide="team">
    <img src="/img/ajax-loader.gif" />
</div>
<div data-ng-cloak data-ng-show="team.teamId">
    <h1 class="teamster-team-name">{{ team.name }}</h1>
    <div class="teamster-data">
        <div class="teamster-data-label"><span class="label label-default">Solar System</span></div>
        <div class="teamster-data-meat" data-teamster-solar-system
             data-name="team.solarSystem.name"
             data-geography="team.solarSystemGeography"></div>
    </div>
    <div class="teamster-data">
        <div class="teamster-data-label"><span class="label label-default">Salary</span></div>
        <div class="teamster-data-meat">{{ team.costModifier | gbsPercentFormat }}</div>
    </div>
    <div class="teamster-data">
        <div class="teamster-data-label"><span class="label label-default">Created</span></div>
        <div class="teamster-data-meat">{{ team.creationTime | gbsDateFormat }}</div>
    </div>
    <div class="teamster-data" data-ng-if="team.auctionExpiryMils > pulse">
        <div class="teamster-data-label"><span class="label label-default">Auction Ends</span></div>
        <div class="teamster-data-meat">
            {{ team.auctionExpiryTime | gbsDateFormat }}
            <span data-ng-if="team.auctionExpiryMils > pulse">
                ({{ (team.auctionExpiryMils - pulse)/1000 | gbsRelativeTime:{approximate: true} }})
            </span>
        </div>
    </div>
    <div class="teamster-data">
        <div class="teamster-data-label">
            <span class="label label-default" data-ng-if="team.expiryMils > pulse">Expires</span>
            <span class="label label-default" data-ng-if="team.expiryMils <= pulse">Expired</span>
        </div>
        <div class="teamster-data-meat">
            {{ team.expiryTime | gbsDateFormat }}
            <span data-ng-if="team.expiryMils > pulse">
                ({{ (team.expiryMils - pulse)/1000 | gbsRelativeTime:{approximate: true} }})
            </span>
        </div>
    </div>
    <div data-ng-show="specializations.length === 5">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Specialization:&nbsp;{{ specializations[0].name }}
                    <small>Activity:&nbsp;{{ team.activityName }}</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" data-teamster-specialization
                 data-specialization="specializations[1]"
                 data-bonus="team.workers[0].bonus"></div>
            <div class="col-md-3" data-teamster-specialization
                 data-specialization="specializations[2]"
                 data-bonus="team.workers[1].bonus"></div>
        </div>
        <div class="row">
            <div class="col-md-3" data-teamster-specialization
                 data-specialization="specializations[3]"
                 data-bonus="team.workers[2].bonus"></div>
            <div class="col-md-3" data-teamster-specialization
                 data-specialization="specializations[4]"
                 data-bonus="team.workers[3].bonus"></div>
        </div>
    </div>
    <div data-ng-show="specializations.error">
        <b>{{ specializations.error }}</b><br />
        {{ specializations.errorDescription }}
    </div>
    <div data-ng-if="team.solarSystemBids.length > 0" class="teamster-bid-container">
        <h2>Bids</h2>
        <div class="panel panel-default"
             data-ng-repeat="(bidNumber,solarSystemBid) in team.solarSystemBids | orderBy:'bidAmount':true">
            <div class="panel-heading">
                <span data-teamster-solar-system
                     data-name="solarSystemBid.solarSystem.name"
                     data-geography="solarSystemBid.solarSystemGeography">
                </span>
                <span class="pull-right">
                    <span data-ng-show="0 === bidNumber" class="label label-success">Top Bid</span>
                    {{ solarSystemBid.bidAmount | currency:"" }}&nbsp;ISK
                </span>
            </div>
            <div class="panel-body">
                <div class="teamster-character-bid"
                     data-ng-repeat="(i, characterBid) in solarSystemBid.characterBids | orderBy:'bidAmount':true"
                     data-ng-init="key = characterBid.character.characterId.toString() + '_' + i">
                    <div class="teamster-data">
                        <div class="teamster-data-label"><span class="label label-default">Character</span></div>
                        <div class="teamster-data-meat">
                            {{ characterBid.character.name }}
                            <button class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-plus"
                                      data-ng-hide="bidshow[key]"
                                      data-ng-click="bidshow[key] = true"></span>
                                <span class="glyphicon glyphicon-minus"
                                      data-ng-show="bidshow[key]"
                                      data-ng-click="bidshow[key] = false"></span>
                            </button>
                        </div>
                    </div>
                    <div data-ng-show="bidshow[key]">
                        <div class="teamster-data">
                            <div class="teamster-data-label"><span class="label label-default">Corporation</span></div>
                            <div class="teamster-data-meat">
                                {{ characterBid.characterAffiliation.corporationName }}
                            </div>
                        </div>
                        <div class="teamster-data" data-ng-show="characterBid.characterAffiliation.allianceId">
                            <div class="teamster-data-label"><span class="label label-default">Alliance</span></div>
                            <div class="teamster-data-meat">
                                {{ characterBid.characterAffiliation.allianceName }}
                            </div>
                        </div>
                        <div class="teamster-data" data-ng-show="characterBid.characterAffiliation.factionId">
                            <div class="teamster-data-label"><span class="label label-default">Faction</span></div>
                            <div class="teamster-data-meat">
                                {{ characterBid.characterAffiliation.factionName }}
                            </div>
                        </div>
                    </div>
                    <div class="teamster-data">
                        <div class="teamster-data-label"><span class="label label-default">Amount</span></div>
                        <div class="teamster-data-meat">
                            <span class="teamster-tooltip"
                                  data-fake-title="{{ characterBid.bidAmount | teamsterCurrency:'' }} ISK">
                                {{ characterBid.bidAmount | gbsAbbreviateNumber:2 }} ISK</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-cloak data-ng-show="team.error">
    <h1>{{ team.error }}</h1>
    {{ team.errorDescription }}
</div>

