<span class="label label-success" data-ng-show="systemType() == 'highsec'">{{ geography().security | gbsNumberFormat:2 }}</span>
<span class="label label-warning" data-ng-show="systemType() == 'lowsec'">{{ geography().security | gbsNumberFormat:2 }}</span>
<span class="label label-primary" data-ng-show="systemType() == 'npc 0.0'">{{ geography().security | gbsNumberFormat:2 }}</span>
<span class="label label-danger" data-ng-show="systemType() == 'conquerable 0.0'">{{ geography().security | gbsNumberFormat:2 }}</span>
<span class="label label-default" data-ng-show="systemType() == 'wormhole'">C{{ geography().wormholeClass }}</span>
{{ name() }}
<span data-ng-hide="systemType() == 'wormhole'">({{ geography().regionName }})</span>
