<span class="btn-group-xs teamster-specialization">
    <span class="teamster-fake-btn btn-default">
        <span class="octicon octicon-hourglass" data-ng-show="'TE' === bonus().bonusIdString"></span>
        <span class="octicon octicon-ruby" data-ng-show="'ME' === bonus().bonusIdString"></span>
        <span class="octicon octicon-question" data-ng-show="null === bonus().bonusIdString"></span>
        {{ bonus().bonusIdString }} {{ bonus().value | gbsPercentFormat:1 }}
    </span>
</span>
{{ specialization().name }}