<!DOCTYPE html>
<html data-ng-app="teamsterApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Teamster{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/slate/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('/octicons/octicons.css') }}" />
        <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
        {%  stylesheets
            '@GbsLogisticsTeamsterFrontendBundle/Resources/public/css/*'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {%  endstylesheets %}
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js" ></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js" ></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {%  javascripts
            '@GbsLogisticsTeamsterFrontendBundle/Resources/public/js/*'
            '../app/Resources/public/js/*'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {%  endjavascripts %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <img src="https://image.eveonline.com/Corporation/98057873_32.png" />
                    GBS Logistics and Fives Support &raquo; Teamster
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
