{% extends "::base.html.twig" %}

{% block title %}
    Teamster :: Jasmine Test Runner
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("jasmine/jasmine.css") }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('jasmine/jasmine.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jasmine/jasmine-html.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jasmine/boot.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jasmine/angular-mocks.js') }}"></script>
    {% for file in testFiles %}
        <script type="text/javascript" src="{{ asset('bundles/gbslogisticsteamsterfrontend/js/test/' ~ file) }}"></script>
    {% endfor %}
{% endblock %}

{% block body %}
{% endblock %}

