.navbar {
    min-height: 34px !important;
    margin-bottom: 0px !important;
}

.teamster-data .teamster-data-label {
    display: inline-block;
    /*float: left;*/
    text-align: right;
    vertical-align: top;
    width: 85px;
    margin-right: 5px;
}

.teamster-data .teamster-data-meat {
    display: inline-block;
    vertical-align: top;
}

.teamster-fake-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0.6);
    white-space: nowrap;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 1px 5px;
    line-height: 18px;
    font-size: 12px;
    border-radius: 4px;
}

.teamster-fake-btn:hover {
    background: inherit !important;
}

.teamster-tooltip {
    display: inline;
    position: relative;
    border-bottom: 1px dotted #777;
}

.teamster-tooltip:hover {
    color: #c00;
    text-decoration: none;
}

.teamster-tooltip:hover:after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 1.35em;
    color: #fff;
    content: attr(data-fake-title);
    display: block;
    left: 0.5em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
}

.teamster-tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 1em;
    content: "";
    display: block;
    left: 1em;
    position: absolute;
    z-index: 99;
}

.octicon-hourglass {
    width: 16px;
    text-align: center;
}

.teamster-character-bid {
    border-left: 5px solid #7a8288;
    margin: 0 0 10px;
}

.teamster-bid-container {
    max-width: 550px;
}

h1,h2 {
    font-family: "Allerta","Helvetica Neue",Helvetica,Arial,sans-serif;
}
